
.menu {
font-size: 140%;
font-style: oblique;
display: inline;
text-align: center;
padding: 0,5px;
margin: 0,5px;
font-family: Arial, Helvetica, sans-serif;
}


.menu ul {
display: inline;
text-align: center;	
list-style: none;
margin: 1px;
padding: 1px;
font-family: sans-serif;
}


.menu li {
display: inline;
text-align: center;	
border-bottom: 1px solid #8174A4 ;
margin: 0;
font-family: sans-serif;
}


.menu li a {
display: inline;
text-align: center;	
padding: 3.5px 3.5px 3.5px 0.5em;
font-weight:bold;
border-left: 0.5px solid #8174A4;
border-right: 0.5px solid #8174A4;
background-color: #8174A4;
color: black;
text-decoration:none ;
font-family: sans-serif;
}


.menu li a {
display: inline;
border-left: 0px solid #8174A4;
border-right: 0px solid #8174A4;
background-color: #8174A4;
color:black;
font: sans-serif;
text-align: center;	
}


h1{
	font:merriweather ;
	font-size: 210%;
	font-style: oblique;
 	display: block ;
 	margin-left: auto;
 	text-align: center;
 	margin-right: auto;
 	color: #584684;
	margin-bottom: 30px;
	margin-top: 0,1px;
 }


#planos{
	font:merriweather ;
	font-size: 210%;
	font-style: oblique;
	color: rgb(57, 18, 68);
 	display: block ;
 	margin-left: 200px;
 	text-align: center;
 	margin-right: 200px;
}


#texto-home1{
	font:merriweather ;
	font-size: 170%;
	font-style: oblique;
	color: rgb(57, 18, 68);
 	display: block ;
 	margin-left: 200px;
 	text-align: center;
 	margin-right: 200px;
 }


#texto-home3{
	font:merriweather ;
	font-size: 170%;
	font-style: oblique;
	color: rgb(57, 18, 68);
 	display: block ;
 	margin-left: 200px;
 	text-align: center;
 	margin-right: 200px;
 }


img.logo{
	display: block;
	margin-right:auto;
	margin-left: auto;
	border: none;
	width: 300px;
	height: left;
	margin-top: 0,0001px;
}


img.filme1{
	display: block;
	margin-right:auto;
	margin-left: auto;
	border-radius: 20px;
	width: 300px;
	height: left;
	margin-top: 0,0001px;
}


img.filme2{
	display: block;
	margin-right:auto;
	margin-left: auto;
	border-radius: 20px;
	width: 300px;
	height: left;
	margin-top: 0,0001px;
}


img.filme3{
	display: block;
	margin-right:auto;
	margin-left: auto;
	border-radius: 20px;
	width: 300px;
	height: left;
	margin-top: 0,0001px;
}


img.filme4{
	display: block;
	margin-right:auto;
	margin-left: auto;
	border-radius: 20px;
	width: 300px;
	height: left;
	margin-top: 0,0001px;
}


img.filme5{
	display: block;
	margin-right:auto;
	margin-left: auto;
	border-radius: 20px;
	width: 300px;
	height: left;
	margin-top: 0,0001px;
}


#check{
    display: block;
}


fieldset {
    border: 0;
}


input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 15px;
}


.grupo:before, .grupo:after {
    display: block;
}


.grupo:after {
    clear: both;
}


.campo {
    margin-bottom: 1em;
}


.campo label {
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}


fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}


.campo input[type="text"], .campo input[type="email"], .campo input[type="number"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}


.campo select option {
    padding-right: 1em;
}


.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}


.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}


.botao, select{
    cursor: pointer;
} 

